<html>
	<head>
		<title>Send a snap!</title>
    <link href="css/superhero.bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="input-group" align="center">
            <h1>Send a NotSnap</h1>
          <form action="/send" method="POST" enctype="multipart/form-data">
            <select name="to" class="form-control">
				      <% users.each do |user| %>
					    <option>  <%= user.name %> </option>
				      <% end %>
			      </select>
            <input type="file" name="file" class="btn btn-primary">
            <button type="submit" name="submit" class="btn btn-default">Send</button>
		       </form>
           </div>

<!--           <form action="/send" method="POST" enctype="multipart/form-data">
			      <input type="text" name="from" placeholder="Your name">
			      <input type="text" name="to" placeholder="The recipient's name">
			      <input type="file" name="file">
			      <input type="submit" name="submit">
		      </form> -->
        </div>
        <div class="col-md-3"></div>
    </div>
	</body>
</html>
